body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subt{
    color: aliceblue;
}
.subt2 {
    font-size: 2em;
}
.subt3 {
    font-style: italic;
}
.subt4 {
    background-color: aqua;
}

.subt::after{
    content: "";
}